
.table-responsive {
    overflow-x: auto;
}

.fa-sign-out:hover{
    color: red;
    transform: scale(1.05);
}


@media (min-width: 767.98px) {
    .custom-height-profile {
        min-height: 100vh;
    }
}
@media (max-width: 767.98px) {
    .custom-height-profile {
        min-height: 40vh;
    }
}


@media (max-width: 767.98px) {
    .table-revision {
        font-size: 10px;
    }
    .table-revision td,
    .table-revision th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @media (max-width: 767.98px) {
        .table-revision td:last-child {
            text-align: center;
        }
    }

}